<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>Change Password</title>
</head>

<body>
    <div class="background-wrap">
        <div class="background"></div>
    </div>

    <form id="changepasswordpanel">
        <h1 id="litheader">Change Password</h1>
        <div class="inset">
            <p>
                <input type="text" name="email" id="email" placeholder="Email">
            </p>
            <p>
                <input type="password" name="oldPassword" id="oldPassword" placeholder="Old Password">
            </p>
            <p>
                <input type="password" name="newPassword" id="newPassword" placeholder="New Password">
            </p>
        </div>
        <div class="p-container" id="changePasswordError"></div>
        <p class="p-container">
            <button id="changePassword">Change Password</button>
        </p>
    </form>
    <script>
        async function postChangePassword(oldPassword, newPassword, email)
        {

            const response = await fetch("https://localhost:3000/changepassword", {
                method: "POST", // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({oldPassword: oldPassword,newPassword: newPassword, email:email})
            });
            const result = await response.json();
            if (result.message === "accept")
            {
                alert("Your password have been changed successfully")
                window.location.href = 'https://localhost:3000/login';
            }
            else if (result.message === "history")
            {
                alert("You can't change password to one that already have been used");
            }
            else
            {
                alert("one or more of the details are incorrect");
            }
        }



        function changePasswordFunction(event){
            let oldPassword = document.querySelector("#oldPassword").value;
            let newPassword = document.querySelector("#newPassword").value;
            let email = document.querySelector("#email").value;

            if(validate(oldPassword, newPassword, email))
            {
                postChangePassword(oldPassword, newPassword, email);
            }

        event.preventDefault();
        }

        function validate(oldPassword, newPassword, email) {
            let status = true;
            let msg;
            if (oldPassword === "" || newPassword === "" || email === "")
            {
                if (oldPassword === "" && newPassword === "" && email === "")
                    msg = "Invalid Details";
                else if(email === "")
                    msg = "Invalid email";
                else if(oldPassword === "")
                    msg = "Invalid oldPassword";
                else
                    msg = "Invalid newPassword";
                document.getElementById("changePasswordError").innerHTML = msg;
                status = false;
            }
            else
                document.getElementById("changePasswordError").innerHTML = "";

            return status;
        }

        document.getElementById("changePassword").addEventListener("click", changePasswordFunction);
    </script>
</body>
</html>