<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>Index</title>
</head>

<body>
    <div class="background-wrap">
        <div class="background"></div>
    </div>

    <form id="indexpanel">
        <h1 id="litheader">Welcome to Communication LTD</h1>
        <br>
        <p class="p-container">
            <button id="login">Login</button>
        </p>
        <p class="p-container">
            <button id = 'register'>Register</button>
        </p>
    </form>
    <script>
        function loginFunction (e){
            e.preventDefault();
            window.location.href = 'https://localhost:3000/login'
        }

        function registerFunction (e) {
            e.preventDefault();
            window.location.href = 'https://localhost:3000/register'
        }

        document.getElementById("login").addEventListener("click", loginFunction);
        document.getElementById("register").addEventListener("click", registerFunction);
    </script>
</body>
</html>