<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>New Password</title>
</head>

<body>
    <div class="background-wrap">
        <div class="background"></div>
    </div>

    <form id="newpasswordpanel">
        <h1 id="litheader">New Password</h1>
        <div class="inset">
            <p>
                <input type="password" name="newPassword" id="newPassword" placeholder="New Password">
            </p>
            <p>
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
            </p>
        </div>
        <div class="p-container" id="newPasswordError"></div>
        <p class="p-container">
            <button id="changeNewPass">Save New Password</button>
        </p>
    </form>
    <script>
        const email = '<%= email %>';

        async function postNewPassword(newPassword, email)
        {

            const response = await fetch("https://localhost:3000/newpassword", {
                method: "POST", // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({password: newPassword, email:email})
            });
            const result = await response.json();
            if (result.message === "accept")
            {
                alert("Your password have been changed successfully")
                window.location.href = 'https://localhost:3000/login';
            }
            else
            {
                alert("Invalid Password");
            }
        }



        function newPasswordFunction(event){
            let newPassword = document.querySelector("#newPassword").value;
            let confirmPassword = document.querySelector("#confirmPassword").value;

            if(validate(newPassword, confirmPassword))
            {
                postNewPassword(newPassword, email);
            }

        event.preventDefault();
        }

        function validate(newPassword, confirmPassword) {
            let status = true;
            let msg;
            if (newPassword === "" || confirmPassword === "")
            {
                if (newPassword === "" && confirmPassword === "")
                    msg = "Invalid Details";
                else if(newPassword === "")
                    msg = "Invalid newPassword";
                else
                    msg = "Invalid confirmPassword";
                status = false;
            }
            else
            {

                if(newPassword !== confirmPassword)
                {
                    msg = "The Passwords are not match";
                }
                else
                {
                    msg = "";
                }
            }
            document.getElementById("newPasswordError").innerHTML = msg;
            return status;
        }

        document.getElementById("changeNewPass").addEventListener("click", newPasswordFunction);
    </script>
</body>
</html>