<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>Code Validation</title>
</head>
<body>
<div class="background-wrap">
    <div class="background"></div>
</div>

<form id="codeValidationpanel">
    <h1 id="litheader">Code Validation</h1>
    <div class="inset">
        <p>
            <input
                    type="text"
                    name="code"
                    id="code"
                    placeholder="Code"
            />
        </p>
    </div>
    <div class="p-container" id="codeValidationError"></div>
    <p class="p-container" id="button">
        <button id="codeValidation">Validate Code</button>
    </p>
</form>

<script>
    const email = '<%= email %>';
    console.log(email);

    async function postCodeValidation(email, code)
    {

        const response = await fetch("http://localhost:3000/codevalidation", {
            method: "POST", // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({email:email, code:code})
        });
        const result = await response.json();
        if (result)
        {
            window.location.href = `http://localhost:3000/newpassword?email=${email}`;
        }
        else
        {
            alert('the code you have entered are wrong');
        }
    }

    function codeValidationFunction(event) {
        let code = document.querySelector("#code").value;

        if (validate(code)) {
            postCodeValidation(email, code);
        }

        event.preventDefault();
    }

    function validate(code) {
        let status = true;
        if (code === "") {
            let msg;
            msg = "Invalid Code";
            document.getElementById("codeValidationError").innerHTML = msg;
            status = false;
        } else document.getElementById("codeValidationError").innerHTML = "";

        return status;
    }

    document
        .getElementById("codeValidation").addEventListener("click", codeValidationFunction);
</script>
</body>
</html>