<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Email Validation</title>
</head>
<body>
<div class="background-wrap">
    <div class="background"></div>
</div>

<form id="emailValidationpanel">
    <h1 id="litheader">Email Validation</h1>
    <div class="inset">
        <p>
            <input
                    type="text"
                    name="email"
                    id="email"
                    placeholder="Email"
            />
        </p>
    </div>
    <div class="p-container" id="emailValidationError"></div>
    <p class="p-container" id="button">
        <input
                type="submit"
                id="emailValidation"
                value="Get Email"
        />
    </p>
</form>

<script>
    function emailValidationFunction(event) {
        let email = document.querySelector("#email").value;

        if (validate(email)) {

        }

        event.preventDefault();
    }

    function validate(email) {
        let status = true;
        if (email === "") {
            let msg;
            msg = "Invalid Email";
            document.getElementById("emailValidationError").innerHTML = msg;
            status = false;
        } else document.getElementById("emailValidationError").innerHTML = "";

        return status;
    }

    document
        .getElementById("emailValidationpanel")
        .addEventListener("submit", emailValidationFunction);
</script>
</body>
</html>