<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>Email Validation</title>
</head>
<body>
<div class="background-wrap">
    <div class="background"></div>
</div>

<form id="emailValidationpanel" method = post action = "http://localhost:3000/codevalidtion">
    <h1 id="litheader">Email Validation</h1>
    <div class="inset">
        <p>
            <input
                    type="text"
                    name="email"
                    id="email"
                    placeholder="Email"
            />
        </p>
    </div>
    <div class="p-container" id="emailValidationError"></div>
    <p class="p-container" id="button">
        <button id="emailValidation">Get Email</button>
    </p>
</form>

<script>
    async function postEmailValidtion(email)
    {

        const response = await fetch("http://localhost:3000/emailvalidation", {
            method: "POST", // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({email:email})
        });
        const result = await response.json();
        if (result)
        {
            window.location.href = `http://localhost:3000/codevalidation?email=${email}`;
        }
        else
        {
            alert('the details you hav')

        }
    }

    function emailValidationFunction(event) {
        let email = document.querySelector("#email").value;
        if (validate(email)) {
            postEmailValidtion(email);
        }
        event.preventDefault();
    }

    function validate(email) {
        let status = true;
        if (email === "") {
            let msg;
            msg = "Invalid Email";
            document.getElementById("emailValidationError").innerHTML = msg;
            status = false;
        } else document.getElementById("emailValidationError").innerHTML = "";

        return status;
    }

    document
        .getElementById("emailValidationpanel")
        .addEventListener("click", emailValidationFunction);
</script>
</body>
</html>