<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>Home</title>
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li><span>Welcome, <label id="username"></label></span></li>
                <li id="logout" style="float:right">
                    <button id="logout">Logout</button>
                </li>
            </ul>
        </nav>
        <br>
        <br>
        <div class="vertical-center">
            <p class="p-container">
                <button id="newClient">Add New Client</button>
                <button id="clientsDetails">Clients Details</button>
            </p>
        </div>
    </div>
    <div class="form"></div>
    <div class="table"></div>
    <script>
        const username = '<%= username %>';
        document.getElementById("username").innerHTML = username;

        function updateTable(table){
            const divTable = document.querySelector(".table");
            if(divTable.firstChild != null)
            {
                divTable.removeChild(divTable.firstChild);
            }
            const divForm = document.querySelector(".form");
            if(divForm.firstChild != null)
            {
                divForm.removeChild(divForm.firstChild);
            }
            divTable.appendChild(table);
        }

        function updateForm(form){
            const divTable = document.querySelector(".table");
            if(divTable.firstChild != null)
            {
                divTable.removeChild(divTable.firstChild);
            }
            const divForm = document.querySelector(".form");
            if(divForm.firstChild != null)
            {
                divForm.removeChild(divForm.firstChild);
            }
            divForm.appendChild(form);
        }

        function clientsDetails(results){
            const table = document.createElement('table');
            const header = document.createElement('tr');
            const col1 = document.createElement("th");
            col1.append("ID");
            const col2 = document.createElement("th");
            col2.append("First Name");
            const col3 = document.createElement("th");
            col3.append("Last Name");
            const col4 = document.createElement("th");
            col4.append("Phone");
            const col5 = document.createElement("th");
            col5.append("Email");
            const col6 = document.createElement("th");
            col6.append("City");
            const col7 = document.createElement("th");
            col7.append("Address");
            header.append(col1);
            header.append(col2);
            header.append(col3);
            header.append(col4);
            header.append(col5);
            header.append(col6);
            header.append(col7);
            table.append(header);
            updateTable(table);

            for (let i = 0; i < results.length; i++)
            {
                const row = document.createElement('tr');
                const col1 = document.createElement("td");
                col1.append(results[i].id);
                const col2 = document.createElement("td");
                col2.append(results[i].firstName);
                const col3 = document.createElement("td");
                col3.append(results[i].lastName);
                const col4 = document.createElement("td");
                col4.append(results[i].phone);
                const col5 = document.createElement("td");
                col5.append(results[i].email);
                const col6 = document.createElement("td");
                col6.append(results[i].city);
                const col7 = document.createElement("td");
                col7.append(results[i].address);
                row.append(col1);
                row.append(col2);
                row.append(col3);
                row.append(col4);
                row.append(col5);
                row.append(col6);
                row.append(col7);
                table.append(row);
                updateTable(table);
            }
        }

        function addNewClient(){
            const form = document.createElement('form');
            form.setAttribute("id", "newClientPanel")
            const body = document.createElement('div');
            const headline = document.createElement("h1");
            headline.setAttribute("id", "litheader2");
            headline.append("Create a New Client");

            const inputFirstName = document.createElement("input");
            inputFirstName.setAttribute("id", "inputFirstname");
            inputFirstName.setAttribute("type", "text");
            inputFirstName.setAttribute("required", "true");
            inputFirstName.setAttribute("placeholder", "First Name");

            const inputLastName = document.createElement("input");
            inputLastName.setAttribute("id", "inputLastname");
            inputLastName.setAttribute("type", "text");
            inputLastName.setAttribute("required", "true");
            inputLastName.setAttribute("placeholder", "Last Name");

            const inputPhone = document.createElement("input");
            inputPhone.setAttribute("id", "inputPhone");
            inputPhone.setAttribute("type", "text");
            inputPhone.setAttribute("required", "true");
            inputPhone.setAttribute("placeholder", "Phone");

            const inputEmail = document.createElement("input");
            inputEmail.setAttribute("id", "inputEmail");
            inputEmail.setAttribute("type", "text");
            inputEmail.setAttribute("required", "true");
            inputEmail.setAttribute("placeholder", "Email");

            const inputCity = document.createElement("input");
            inputCity.setAttribute("id", "inputCity");
            inputCity.setAttribute("type", "text");
            inputCity.setAttribute("required", "true");
            inputCity.setAttribute("placeholder", "City");

            const inputAddress = document.createElement("input");
            inputAddress.setAttribute("id", "inputAddress");
            inputAddress.setAttribute("type", "text");
            inputAddress.setAttribute("required", "true");
            inputAddress.setAttribute("placeholder", "Address");

            const button = document.createElement("button");
            button.setAttribute("id", "addNewClient");
            button.innerHTML = "Add New Client";

            button.addEventListener("click", saveClient);

            body.append(headline);
            body.append(inputFirstName);
            body.append(inputLastName);
            body.append(inputPhone);
            body.append(inputEmail);
            body.append(inputCity);
            body.append(inputAddress);
            body.append(button);
            form.append(body);
            updateForm(form);
        }

        async function logout()
        {
            const response = await fetch("http://localhost:3000/home", {
                method: "POST", // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
            });
            const result = await response.json();
            window.location.href = 'http://localhost:3000/login';
        }


        async function postSaveClient()
        {
            const firstname = document.getElementById("inputFirstname").value;
            const lastname = document.getElementById("inputLastname").value;
            const phone = document.getElementById("inputPhone").value;
            const email = document.getElementById("inputEmail").value;
            const city = document.getElementById("inputCity").value;
            const address = document.getElementById("inputAddress").value;

            const data = {
                flag: true,
                firstname: firstname,
                lastname: lastname,
                phone: phone,
                email: email,
                city: city,
                address: address
            };

            const response = await fetch("http://localhost:3000/clients", {
                method: "POST", // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            });
            const result = await response.json();
            if (result)
            {
                alert("The user added successfully");
                window.location.href = 'http://localhost:3000/home';
            }
        }


        function saveClient(event){
            postSaveClient();
            event.preventDefault();
        }


        async function postClientsData()
        {
            const data = {
                flag: false,
            };
            const response = await fetch("http://localhost:3000/clients", {
                method: "POST", // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            });
            const result = await response.json();
            clientsDetails(result);
        }


        function clientsData(event){
            postClientsData();
            event.preventDefault();
        }

        document.querySelector("#clientsDetails").addEventListener("click", clientsData);
        document.querySelector("#newClient").addEventListener("click", addNewClient);
        document.querySelector("#logout").addEventListener("click", logout);

    </script>
</body>
</html>