<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>Login</title>
</head>

<body>
    <div class="background-wrap">
        <div class="background"></div>
    </div>

    <form id="loginpanel">
        <h1 id="litheader">Login</h1>
        <div class="inset">
            <p>
                <input type="text" name="username" id="username" placeholder="User Name">
            </p>
            <p>
                <input type="password" name="password" id="password" placeholder="Password">
            </p>
        </div>
        <div class="p-container" id="loginError"></div>
        <p class="p-container">
            <button id="login">Login</button>
        </p>
        <a href="http://localhost:3000/emailvalidation" class="rstpassword">Forget your password?</a>
    </form>
    <script>
        async function postLogin(username, password)
        {

            const response = await fetch("http://localhost:3000/login", {
                method: "POST", // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username: username, password: password})
            });
            const result = await response.json();
            if (result.message === "accept")
            {
                window.location.href = 'http://localhost:3000/home';
            }
            else if(result.message === "email")
            {
                alert("You user is blocked, a new password sent to your email to release the block");
            }
            else
            {
                alert("Invalid Details");
            }
        }

        function loginFunction(event){
            let username = document.querySelector("#username").value;
            let password = document.querySelector("#password").value;

            if(validate(username, password))
            {
                postLogin(username,password);
            }
            event.preventDefault();
        }

        function validate(username,password) {
            let status = true;
            if (username === "" || password === "")
            {
                let msg;
                if (username === "" && password === "")
                    msg = "Invalid Details";
                else if(username === "")
                    msg = "Invalid Username";
                else
                    msg = "Invalid Password";
                document.getElementById("loginError").innerHTML = msg;
                status = false;
            }
            else
                document.getElementById("loginError").innerHTML = "";
            return status;
        }

        document.getElementById("login").addEventListener("click", loginFunction);
    </script>
</body>
</html>